<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Browser.Automation.Helpers" version="1.0.3" targetFramework="net471" />
  <package id="Selenium.Support" version="3.11.2" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="4.0.0" targetFramework="net471" />
</packages>